.markdown {
  table {
    display: table;
    width: 100%;
    font-size: 14px;
    
    tr {
      border-top: 0;
      transition: background-color var(--ifm-transition-slow) var(--ifm-transition-timing-default);
    }
    
    tbody {
      tr {
        border-bottom: 1px solid var(--ifm-table-border-color);
        
        &:hover {
          background-color: var(--ifm-table-row-background-hover);
        }
      }
    }
    
    th,
    td {
      min-width: 60px;
      border: 0;
      text-align: left;
    }
  }
  
  code {
    border: 0;
  }
  
  del {
    color: var(--ifm-color-emphasis-400);
  }
  
  > h1 {
    font-size: xx-large;
  }
  
  > h2 {
    font-size: x-large;
  }
  
  > h3 {
    font-size: large;
  }
  
  > h4 {
    font-size: 14px;
  }
  
  p,
  li,
  td {
    a {
      position: relative;
      text-decoration: none;
      
      &::after {
        content: '';
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 100%;
        height: 1px;
        background: currentcolor;
        transform: scale(0);
        transition: all .4s ease-in-out;
      }
      
      &:link:hover::after {
        transform: scale(1);
      }
    }
  }
  
  code {
    border: 0;
  }
  
  del {
    color: var(--ifm-color-emphasis-400);
  }
}
